@import url(http://fonts.googleapis.com/css?family=Lora:400,700);

.CodeMirror {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  font-size: 14px;
  height: 100%
}
.CodeMirror-focused .CodeMirror-selected {
  background: #b5d5ff;
}
@-webkit-keyframes blink1 {
 25% { background-color: #ebf6f7; }
100% { background-color: #b5d5ff; }
}
@-webkit-keyframes blink2 {
 50% { background-color: #ebf6f7; }
100% { background-color: #ffffff; }
}

#menualt {
  z-index: 65536;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: #fffffc;
  background: #7f8c8d;
  font-size: 18px;
  display: inline-block;
  line-height: 32px;
  text-align: center;
  vertical-align: bottom;
  opacity: 0.25;
}

#sidemenu {
  z-index: 65535;
  position: absolute;
  top: 0;
  right: 0;
  width: 375px;
  height: 100%;
  color: #2c3e50;
  background: #ecf0f1;
  border: solid 0 #bdc3c7;
  border-width: 0 0 0 1px;
  box-sizing: border-box;
  padding: 0px 15px;
  font-family: Lora, sans-serif;
  font-size: 14px;
  font-weight: 400;
  white-space: nowrap;
}

#sidemenu h1 {
  font-size: 64px;
  font-weight: 700;
}

#sidemenu h2 {
  margin-top: 25px;
  font-size: 22px;
  font-weight: normal;
}

#sidemenu ul {
  list-style: none;
  margin: 10px 0;
}

#sidemenu li {
  margin: 5px;
}

#sidemenu li u {
  display: inline-block;
  width: 80px;
  font-style: normal;
  font-weight: 700;
}

#sidemenu li i {
  margin-right: 5px;
}

#sidemenu a {
  color: #2c3e50;
  text-decoration: underline;
}

#timecop {
  position: absolute;
  bottom: 4px;
  right: 4px;
  font-family: monospace;
  color: #7f8c8d;
  font-size: 10px;
}

.win {
  display: none;
}
.mac {
  display: none;
}
